{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Inscription {% endblock %}
{% block contenu %}
    
     {% if is_granted('ROLE_ADMIN') %}
      <p>Vous êtes connecté en tant que {{ app.user.username }} (Admin)</p>
{% else %}   
      {% if is_granted('ROLE_USER') %}
              <p>Vous êtes connecté en tant que {{ app.user.username }} (Utilisateur)</p>
      {% endif %} 
{% endif %}  
<center><h1><b>Votre Compte !</b></h1></center>
<h4>username :  {{ app.user.username }}</h4>
<h4>Photo de Profil : <img src="uploads/fichiers/{{ app.user.photo }}" WIDTH=150 HEIGHT=70 alt="" /> </h4>
<h4>email : {{ app.user.email }} </h4>
<h4>nom : {{ app.user.nom }} </h4> 
<h4>prenom : {{ app.user.prenom }} </h4>
<h4>Date de Naissance : {{ app.user.datenaissance|date("d/m/Y") }} </h4>
{% for key,value in app.user.roles %}
    <tr><td><h4>roles :{{ value }}</h4></td></tr> 
    {% endfor %}
<h4>Abonnements : {{ app.user.abonnements.libelle }} </h4>
<h4>Entreprise : {{ app.user.entreprise.libelle }} </h4>
{% endblock %}    